#stamps{
padding: 5vw;
text-align: center;
}

.stamp{
text-align: center;
vertical-align: top;
margin: 2vw;
display: inline-block;
background: #476b6b;
color: #FFF;
margin-bottom: 5vw;
width: 40vw;
height: 50vw;
border-radius: 5px;
padding-top: 10px;
}

img {
width: 100%;
}