body{
padding: 20px;
}

h1, h2, h3, h4, h5, p, a{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: none;
}

#welcomeContainer{
padding-top: 40px;
}

.button {
background: #476b6b;
color: #FFF;
text-align: center;
text-decoration: none;
display: block;
font-size: 20px;
margin: 5px;
transition-duration: 0.4s;
border-radius: 5px;
}

.button:active, .button:focus {
opacity: 0.5;
}

.button:hover {background-color: #e7e7e7;}

#getStarted{
padding: 10px;
padding-right: 20px;
padding-left: 20px;
margin-top: 150px;
font-family: Calibri, Futura, Helvetica;
}

.topbar{
	background: #476b6b;
}