#mapContainer{
overflow-y: hidden;
}

#map {
height: 100%;
z-index: 55;
text-align: center;
}

#chooseCourseContainer{
position: absolute;
top: -20px;
left: 0px;
margin-top: 20px;
width: 100%;
background: #FFF;
text-align: center;
padding-top: 100px;
padding-bottom: 20px;
z-index: 56;
height: 100%;
opacity: 0.9;
}

#stopwatchFunc{
display: none;
}

#stopwatchFunc ons-button{
color: #476b6b;
background: none;
border: none;
font-size: 50px;
display: inline-block;
padding-bottom: 20px;
}

#hideClockButton{
display: none;
}

#chooseCourseContainer h1{
font-family: Calibri;
}

#stopwatchContainer{
position: absolute;
background: none;
display: none;
text-align: center;
width: 100%;
z-index: 100;
}

.courseButton{
width: 50%;
margin: 5px;
z-index: 56;
}

.stopwatchButton{
max-width: 80px;
text-align: center;
color: #FFF;
background: #476b6b;
border-radius: 5px;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 20px;
}

#my-dialog{
padding: 10px;
}